/elastic/.bundle

# Ignore the default SQLite database.
/elastic/db/*.sqlite3
/elastic/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/elastic/log/*
/elastic/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/elastic/storage/*
!/storage/.keep

/elastic/node_modules
/elastic/yarn-error.log

/elastic/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/elastic/config/master.key


/paranoia/.bundle

# Ignore the default SQLite database.
/paranoia/db/*.sqlite3
/paranoia/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/paranoia/log/*
/paranoia/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/paranoia/storage/*
!/storage/.keep

/node_modules
/paranoia/yarn-error.log

/paranoia/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/paranoia/config/master.key


# Ignore bundler config.
/public_activity/.bundle

# Ignore the default SQLite database.
/public_activity/db/*.sqlite3
/public_activity/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/public_activity/log/*
/public_activity/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/public_activity/storage/*
!/storage/.keep

/public_activity/node_modules
/public_activity/yarn-error.log

/public_activity/public/assets
/public_activity/.byebug_history

# Ignore master key for decrypting credentials and more.
/public_activity/config/master.key


# Ignore the default SQLite database.
/friendly_id/db/*.sqlite3
/friendly_id/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/friendly_id/log/*
/friendly_id/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/friendly_id/storage/*
!/storage/.keep

/friendly_id/node_modules
/friendly_id/yarn-error.log

/friendly_id/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/friendly_id/config/master.key


# Ignore bundler config.
/ransack/.bundle

# Ignore the default SQLite database.
/ransack/db/*.sqlite3
/ransack/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/ransack/log/*
/ransack/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/ransack/storage/*
!/storage/.keep

/ransack/node_modules
/ransack/yarn-error.log

/ransack/public/assets
/ransack/.byebug_history

# Ignore master key for decrypting credentials and more.
/ransack/config/master.key
